@model Microsoft.AspNetCore.Identity.EntityFrameworkCore.IdentityRole


@{
    ViewData["Title"] = "New Role";
}

<h2>New Role</h2>
<hr />

<form asp-action="CreateRole" method="post" class="form-horizontal" role="form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 btn-group">
            <a asp-action="RoleIndex" class="btn btn-warning">
                <i class="glyphicon glyphicon-ban-circle" title="Cancel"></i>
                Cancel
            </a>
            <input type="submit" value="Create" class="btn btn-danger" />
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
